---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { getAllPosts } from "../../lib/cosmic";
import { Image } from "@astrojs/image/components";
import { getFeaturedPost } from "../../lib/cosmic";

export interface Post {
  title: string;
  slug: string;
  metadata: {
    excerpt: string;
    tags: {
      title: string;
    }[];
  };
  created_at: string;
}

const data = await getAllPosts();
const featuredPost = await getFeaturedPost();
const tags = featuredPost.metadata.tags;
---

<Layout title="blog - slow heal">
  <section class="flex flex-col items-center">
    <h1 class="text-2xl text-gray-600">all blog posts</h1>
    <ul class="w-3/4 mx-auto">
      {
        data.map((post: Post) => (
          <Card
            title={post.title}
            href={post.slug}
            body={post.metadata.excerpt}
            date={post.created_at}
          />
        ))
      }
    </ul>
  </section>
</Layout>
