---
import Layout from "../layouts/Layout.astro";
---

<Layout title="slow heal">
  <section class="flex flex-col items-center">
    <h1 class="text-3xl mb-2">healing</h1>
    <p>It&apos;s</p>
  </section>
</Layout>
