---
import { parseISO, format } from "date-fns";
export interface Props {
  title: string;
  body: string;
  href: string;
  date: string;
}

const { href, title, body, date } = Astro.props;
---

<li
  class="my-8 border-b border-emerald-100 hover:opacity-60 transition-opacity"
>
  <a class="my-4" href={`/blog/${href}`}>
    <span class="flex justify-between items-center py-4"
      ><h2 class="text-lg pr-4">
        {title}
      </h2>
      <span class="text-md text-gray-500"
        >{format(parseISO(date), "M/d/yy")}</span
      >
    </span>
  </a>
</li>
