<footer class="h-28 flex flex-col gap-y-6 justify-center items-center">
  <nav class="flex justify-center">
    <ul class="flex gap-x-2">
      <li class="text-sm hover:opacity-70">
        <a href="/">home</a>
      </li>
      <li class="text-sm hover:opacity-70">
        <a href="/blog">blog</a>
      </li>
    </ul>
  </nav>
</footer>
