---
---

<nav
  class="flex flex-col md:flex-row justify-between gap-2 items-center h-24 max-w-[1200px] mx-auto md:px-12 py-2"
>
  <span
    ><a href="/" class="hover:opacity-60 transition-opacity">slow heal</a>
  </span>
  <ul class="flex gap-x-2">
    <li>
      <a
        href="/blog"
        class="rounded-md px-2 py-1 hover:shadow-md hover:bg-white transition"
        >blog</a
      >
    </li>
    <li>
      <a
        href="/about"
        class="rounded-md px-2 py-1 hover:shadow-md hover:bg-white transition"
        >about</a
      >
    </li>
  </ul>
  <span
    ><a href="/healing" class="hover:opacity-60 hover:text-green-500 transition"
      >healing</a
    >
  </span>
</nav>
