---
---

<nav
  class="flex flex-col md:flex-row justify-between gap-2 items-center h-24 max-w-[1200px] mx-auto md:px-12 py-2"
>
  <span
    ><a href="/" class="hover:opacity-60 transition-opacity">slow heal</a>
  </span>
  <ul class="flex gap-x-4">
    <li>
      <a href="/blog" class="hover:opacity-60 transition-opacity">blog</a>
    </li>
    <li>
      <a href="/about" class="hover:opacity-60 transition-opacity">about</a>
    </li>
  </ul>
  <span
    ><a href="/healing" class="hover:opacity-60 hover:text-green-500 transition"
      >healing</a
    >
  </span>
</nav>
